<!DOCTYPE html>
<html lang="en-US">
  {{ partial "header" . }}
  <body class="home">
		<iframe src="https://www.cignaglobal.com/quote/pages/quote/PersonalInformationLiteV3.html?new=true&AffinityPartner=0c87bfca9d32b491cb3dff5f72067420&utm_source=broker&utm_medium=tlink&utm_campaign=NE10473319" width="100%" height="1000px"></iframe>	</div><!-- #primary -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114903806-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114903806-3');
</script>
	</body>
</html>
