<!DOCTYPE html>
<html lang="en-US">
  {{ partial "header" . }}
  <body class="home blog logged-in admin-bar no-customize-support custom-background ">
    <div class="wrapper">
      <header id="branding" >
	{{ partial "head" . }}
      </header>
		<iframe src="https://www.cignaglobal.com/quote/pages/quote/PersonalInformationLiteV3.html?new=true&AffinityPartner=0c87bfca9d32b491cb3dff5f72067420&utm_source=broker&utm_medium=tlink&utm_campaign=NE10473319" width="100%" height="1000px"></iframe>	</div><!-- #primary -->
    {{ partial "footer.html" . }}
  </body>
</html>
